/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

/* debug*/

/* .debug * {
    border: solid red 3px;
    padding: 15px;
} */




/*style*/

body {
    font-family: 'Montserrat', Helvetica, sans-serif ;
    background-color: whitesmoke;
}

#main-header {
    height: 120px;
    text-align: center;
    line-height: 120px;
    color: rgb(255, 2, 120);
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-container > p {
    text-align: center;
    margin-bottom: 50px;
}

.card {
    color: whitesmoke;
    background-color: #333;
    width: calc( calc(100% - 50px) / 3);
    float: left;
    margin: 0 25px 40px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 12px 6px rgb(0 0 0 / 25%);
}


.card-pic {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 15px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


.card:nth-child(3n) {
    margin-right: 0;
}

.card-title {
    font-weight: 800;
    margin: 10px 0;
}


.card-mail {
    display:inline-block ;
    color: rgb(43, 139, 249);
    margin: 10px 0;
}

